<div x-data="{ stowOpen: false }" class="flex flex-col mb-4 text-gray-900 mb-12">
  <button class="bg-blue-600 rounded-xl text-white p-2 relative w-20" @click="stowOpen = !stowOpen" type"button">
      <span>
        Stow
      </span>
      <div class="h-3 w-3 rounded-full absolute top-0 right-0">
        <span class="animate-ping absolute rounded-full h-3 w-3 bg-pink-500 opacity-75"></span>
        <span class="absolute rounded-full h-3 w-3 bg-pink-500"></span>
      </div>
  </button>
  <div class="flex flex-col items-start space-y-2">
    <h2>Tree</h2>
    <div class="flex flex-col items-start" id="stowFolderFile">
        <span>
          {% faFolder %}
          <span>/</span>
        </span>
        <span class="ml-4">
          {% faFolder %}
          <span>home</span>
        </span>
        <span class="ml-8">
          {% faFolder %}
          <span>kamalarieff</span>
        </span>
        <!-- After -->
        <div
          x-show="stowOpen"
          x-transition:enter="ease-in duration-300"
          x-transition:enter-start="opacity-0 transform translate-y-8"
          x-transition:enter-end="opacity-100 transform translate-y-0"
          x-transition:leave="ease-out duration-200"
          x-transition:leave-start="opacity-100 transform translate-y-0"
          x-transition:leave-end="opacity-0 transform translate-y-8"
          class="flex flex-col items-start"
          style"display: none"
          id="stowFolderFile"
        >
          <span class="ml-12">
            {% faFolder %}
            <span>.config</span>
          </span>
          <span class="ml-16">
            {% faFolder %}
            <span>bspwm</span>
            <span
              class="text-blue-600 whitespace-nowrap"
              x-show="stowOpen"
              x-transition:enter="ease-in duration-500"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="ease-out duration-200"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              >
            symlink -> ../dotfiles/bspwm
            </span>
          </span>
          <span class="ml-20">
            {% faFile %}
            <span>bspwmrc</span>
          </span>
          <span class="ml-16">
            {% faFolder %}
            <span>sxhkd</span>
            <span
              class="text-blue-600 whitespace-nowrap"
              x-show="stowOpen"
              x-transition:enter="ease-in duration-500"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="ease-out duration-200"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              >
            symlink -> ../dotfiles/sxhkd
            </span>
          </span>
          <span class="ml-20">
            {% faFile %}
            <span>sxhkdrc</span>
          </span>
          <span class="ml-16">
            {% faFolder %}
            <span>polybar</span>
            <span
              class="text-blue-600 whitespace-nowrap"
              x-show="stowOpen"
              x-transition:enter="ease-in duration-500"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="ease-out duration-200"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              >
            symlink -> ../dotfiles/polybar
            </span>
          </span>
          <span class="ml-20">
            {% faFile %}
            <span>config</span>
          </span>
          <span class="ml-12">
            {% faFile %}
            <span>.bash_profile</span>
            <span
              class="text-blue-600 whitespace-nowrap"
              x-show="stowOpen"
              x-transition:enter="ease-in duration-500"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="ease-out duration-200"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              >
            symlink -> ../dotfiles/.bash_profile
            </span>
          </span>
          <span class="ml-24">
            {% faFile %}
            <span>.zshrc</span>
            <span
              class="text-blue-600 whitespace-nowrap"
              x-show="stowOpen"
              x-transition:enter="ease-in duration-500"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="ease-out duration-200"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              >
            symlink -> ../dotfiles/.zshrc
            </span>
          </span>
        </div>
        <!-- Before -->
        <span class="ml-12">
          {% faFolder %}
          <span>dotfiles</span>
        </span>
        <span class="ml-16">
          {% faFolder %}
          <span>.config</span>
        </span>
        <span class="ml-20">
          {% faFolder %}
          <span>bspwm</span>
        </span>
        <span class="ml-24">
          {% faFile %}
          <span>bspwmrc</span>
        </span>
        <span class="ml-20">
          {% faFolder %}
          <span>sxhkd</span>
        </span>
        <span class="ml-24">
          {% faFile %}
          <span>sxhkdrc</span>
        </span>
        <span class="ml-20">
          {% faFolder %}
          <span>polybar</span>
        </span>
        <span class="ml-24">
          {% faFile %}
          <span>config</span>
        </span>
        <span class="ml-16">
          {% faFile %}
          <span>.bash_profile</span>
        </span>
        <span class="ml-16">
          {% faFile %}
          <span>.zshrc</span>
        </span>
    </div>
  </div>
</div>
