@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --footer-height: 4rem;
}

body {
  min-height: 100vh;
  position: relative;
}

#stowFolderFile > span {
  @apply flex items-center space-x-2;
}

.footer {
  @apply absolute bottom-0 w-full;

  height: var(--footer-height);
}

.highlight-line {
  @apply no-underline;
}

.highlight-line-add {
  @apply bg-green-800;
}

.highlight-line-remove {
  @apply bg-red-700;
}
