<footer class="bg-gray-300">
  <nav class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <span>Built with <a class="hover:underline" href="https://www.11ty.dev">Eleventy</a>.</span>
      <ul class="flex space-x-4">
        <li class="flex items-center space-x-2">
          {% faGithub %}
          <a
            href="https://github.com/kamalarieff"
            class="text-base font-bold underline hover:text-green-900"
          >
            GitHub
          </a>
        </li>
        <li class="flex items-center space-x-2">
          {% faLinkedin %}
          <a
            href="https://www.linkedin.com/in/kamal-arieff-ahmad-faizel-058b0a79"
            class="text-base font-bold underline hover:text-green-900"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
